swagger: '2.0'
info:
  contact:
    x-twitter: languagetoolorg
  description: 'Check texts for style and grammar issues with <a href=''https://languagetool.org''>LanguageTool</a>. Please consider the following default limitations:<ul><li>your daily request limit depending on <a href=''https://languagetool.org/editor/settings/access-tokens''>your plan</a> <li>maximum number of requests per minute: 20 (free) / 80 (Premium) <li>maximum number of characters per minute: 75,000 (free) / 300,000 (Premium) <li>maximum number of characters per request: 20,000 (free) / 60,000 (Premium) <li>for the free version, also consider the <a href=''https://dev.languagetool.org/public-http-api''>limitations documented here</a> <li><b>Note:</b> any parameters or outputs not part of this documentation are internal and must not be relied on</ul> Need more generous limits? Just <a href=''https://languagetool.org/proofreading-api''>contact us</a>.'
  title: LanguageTool Check Languages API
  version: 1.1.2
  x-apisguru-categories:
  - text
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_languagetoolorg_profile_image.jpeg
  x-origin:
  - format: swagger
    url: https://languagetool.org/http-api/languagetool-swagger.json
    version: '2.0'
  x-providerName: languagetool.org
host: api.languagetoolplus.com
basePath: /v2
schemes:
- https
produces:
- application/json
tags:
- name: Languages
paths:
  /languages:
    get:
      responses:
        '200':
          description: An array of language objects.
          schema:
            items:
              properties:
                code:
                  description: a language code like 'en'
                  type: string
                longCode:
                  description: a language code like 'en-US' or 'ca-ES-valencia'
                  type: string
                name:
                  description: a language name like 'French' or 'English (Australia)'
                  type: string
              required:
              - name
              - code
              - longCode
              type: object
            type: array
      summary: Get a list of supported languages.
      tags:
      - Languages
