swagger: '2.0'
info:
  contact:
    x-twitter: languagetoolorg
  description: 'Check texts for style and grammar issues with <a href=''https://languagetool.org''>LanguageTool</a>. Please consider the following default limitations:<ul><li>your daily request limit depending on <a href=''https://languagetool.org/editor/settings/access-tokens''>your plan</a> <li>maximum number of requests per minute: 20 (free) / 80 (Premium) <li>maximum number of characters per minute: 75,000 (free) / 300,000 (Premium) <li>maximum number of characters per request: 20,000 (free) / 60,000 (Premium) <li>for the free version, also consider the <a href=''https://dev.languagetool.org/public-http-api''>limitations documented here</a> <li><b>Note:</b> any parameters or outputs not part of this documentation are internal and must not be relied on</ul> Need more generous limits? Just <a href=''https://languagetool.org/proofreading-api''>contact us</a>.'
  title: LanguageTool Check Words API
  version: 1.1.2
  x-apisguru-categories:
  - text
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_languagetoolorg_profile_image.jpeg
  x-origin:
  - format: swagger
    url: https://languagetool.org/http-api/languagetool-swagger.json
    version: '2.0'
  x-providerName: languagetool.org
host: api.languagetoolplus.com
basePath: /v2
schemes:
- https
produces:
- application/json
tags:
- name: Words
paths:
  /words:
    get:
      description: List words in the user's personal dictionaries.
      parameters:
      - description: Offset of where to start in the list of words. Defaults to 0.
        in: query
        name: offset
        type: integer
      - description: Maximum number of words to return. Defaults to 10.
        in: query
        name: limit
        type: integer
      - description: Your username as used to log in at languagetool.org.
        in: query
        name: username
        required: true
        type: string
      - description: <a target='_blank' href='https://languagetool.org/editor/settings/access-tokens'>Your API key</a>
        format: password
        in: query
        name: apiKey
        required: true
        type: string
      - description: Comma-separated list of dictionaries to include words from; uses special default dictionary if this is unset
        in: query
        name: dicts
        type: string
      responses:
        '200':
          description: the user's words from the given user dictionaries
          schema:
            properties:
              words:
                description: array of words
                items:
                  type: string
                type: array
      summary: List words in dictionaries
      tags:
      - Words
  /words/add:
    post:
      description: Add a word to one of the user's personal dictionaries. Please note that this feature is considered to be used for personal dictionaries which must not contain more than 500 words. If this is an issue for you, please contact us.
      parameters:
      - description: The word to be added. Must not be a phrase, i.e. cannot contain white space. The word is added to a global dictionary that applies to all languages.
        in: formData
        name: word
        required: true
        type: string
      - description: Your username as used to log in at languagetool.org.
        in: formData
        name: username
        required: true
        type: string
      - description: <a target='_blank' href='https://languagetool.org/editor/settings/access-tokens'>Your API key</a>
        format: password
        in: formData
        name: apiKey
        required: true
        type: string
      - description: Name of the dictionary to add the word to; non-existent dictionaries are created after calling this; if unset, adds to special default dictionary
        in: formData
        name: dict
        type: string
      responses:
        '200':
          description: the result of adding the word
          schema:
            properties:
              added:
                description: true if the word has been added. false means the word hasn't been added because it had been added before.
                type: boolean
      summary: Add word to a dictionary
      tags:
      - Words
  /words/delete:
    post:
      description: Remove a word from one of the user's personal dictionaries.
      parameters:
      - description: The word to be removed.
        in: formData
        name: word
        required: true
        type: string
      - description: Your username as used to log in at languagetool.org.
        in: formData
        name: username
        required: true
        type: string
      - description: <a target='_blank' href='https://languagetool.org/editor/settings/access-tokens'>Your API key</a>
        format: password
        in: formData
        name: apiKey
        required: true
        type: string
      - description: Name of the dictionary to remove the word from; if the dictionary is empty upon calling this, it is deleted; if unset, removes from special default dictionary
        in: formData
        name: dict
        type: string
      responses:
        '200':
          description: the result of removing the word
          schema:
            properties:
              deleted:
                description: true if the word has been removed. false means the word hasn't been removed because it was not in the dictionary.
                type: boolean
      summary: Remove word from a dictionary
      tags:
      - Words
